## 与信判定 予測&生成AI - LLM応答の確認

In [1]:
import requests
import json

import pandas as pd
import numpy as np

from h2ogpte import H2OGPTE

In [2]:
MLOPS_ENDPOINT = 'https://model.internal.dedicated.h2o.ai/4b8a36a7-d6cc-4550-892e-47fb20de42b3/model/score'

H2OGPTE_URL = 'https://playground.h2ogpte.h2o.ai'

with open('../_secret') as f:
    key = json.load(f)
H2OGPTE_KEY = key['client-access-test']

## Predictive AI Pipelines

In [3]:
def get_and_transform_scoringdata(row_number: int) -> dict:
    '''
    read data and transform into json
    '''
    df = pd.read_csv('data/UCI_Credit_Card3_scoring_sample_NoTarget.csv')   # row_number: [0:99]
    df = df[row_number:row_number+1]   # get 1 observation
    df = df.astype(str)
    display(df)
    
    # jsonに変換
    json_data = df.to_json(orient="split")
    json_data = json.loads(json_data)
    # キー名の変更
    json_data['fields'] = json_data['columns']
    del json_data['columns']
    json_data['rows'] = json_data['data']
    del json_data['data']
    # Shapley Scoring指示の追加
    json_data['requestShapleyValueType'] = 'ORIGINAL'
    
    return json_data

In [4]:
def mlops_scoring(scoring_data: dict) -> requests.models.Response:
    '''
    return MLOps scoring
    '''
    return requests.post(url=MLOPS_ENDPOINT, 
                         headers={'content-type': 'application/json'}, 
                         data=json.dumps(scoring_data))

In [5]:
def scoring_results(response: requests.models.Response) -> (float, pd.DataFrame):
    '''
    get scoring results of prob y=1 (float) and shaplys (pd.DataFrame)
    '''
    # Scoring result
    pred_prob = float(response.json()['score'][0][1])   # probability of y=1
    
    # Shaply scoring result
    df_contrib = pd.DataFrame({
        'features':response.json()['featureShapleyContributions']['features'],
        'contributions':response.json()['featureShapleyContributions']['contributionGroups'][0]['contributions'][0],
    })
    df_contrib['contributions'] = df_contrib['contributions'].astype(np.float64)
    df_contrib['features'] = [s.replace('contrib_', '') for s in df_contrib['features']]
    
    return (pred_prob, df_contrib)

## Generative AI Pipelines

In [6]:
client = H2OGPTE(
    address=H2OGPTE_URL,
    api_key=H2OGPTE_KEY,
)

chat_session_id = client.create_chat_session_on_default_collection()
chat_session_id

client, chat_session_id

(<h2ogpte.h2ogpte.H2OGPTE at 0x11ff46620>,
 '6d0b7df9-7155-4239-a5fd-465dca13cdd4')

In [7]:
SysPrompt = '''
あなたは優秀な与信判定AIです。指示に従い正確に貸し出し可否の判断を実施します。（回答は必ず日本語で実施します。）
'''

def prompt_message(pred_prob: float, contrib_list: list) -> str:
    msg = '''
    予測モデルの予測結果: {}
    予測モデルの予測結果を、以下の与信判断の目安の目安に従って、与信可否の判定をして下さい。
    予測モデルの予測結果で与信判断がされた場合、リーズンコードに関して述べる必要はありません。

    リーズンコードの結果:{}
    与信可否の判定において、リーズンコードの確認が必要な場合は、リーズンコードの結果に従い、以下のリーズンコードの基準に理由を述べて下さい。

    ### 与信判断の目安
    予測精度が0.3以下: 与信判定に問題なし。貸し出し可能。リーズンコードの確認は必要なく、貸し出し可能と判断できます。
    予測精度が0.3から0.7の間: 与信判定に問題ありの可能性。リーズンコードの確認が必要。
    予測精度が0.7以上: 与信判定に問題あり。貸し出し不可。リーズンコードの確認は必要なく、貸し出し不可と判断できます。

    ### リーズンコードの基準
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個未満であれば含まれる場合は、返済履歴には問題がありません。貸し出し可否の判断は担当者が実施します。

    '''.format(pred_prob, contrib_list)
    
    return msg

#Message = prompt_message(pred_prob, list(df_contrib[df_contrib['contributions']>0]['features']))

LlmModel = 'microsoft/Phi-3-medium-128k-instruct'

In [8]:
print(prompt_message(0.6, ["A", "B", "C"]))

    予測モデルの予測結果: 0.6
    予測モデルの予測結果を、以下の与信判断の目安の目安に従って、与信可否の判定をして下さい。
    予測モデルの予測結果で与信判断がされた場合、リーズンコードに関して述べる必要はありません。

    リーズンコードの結果:['A', 'B', 'C']
    与信可否の判定において、リーズンコードの確認が必要な場合は、リーズンコードの結果に従い、以下のリーズンコードの基準に理由を述べて下さい。

    ### 与信判断の目安
    予測精度が0.3以下: 与信判定に問題なし。貸し出し可能。リーズンコードの確認は必要なく、貸し出し可能と判断できます。
    予測精度が0.3から0.7の間: 与信判定に問題ありの可能性。リーズンコードの確認が必要。
    予測精度が0.7以上: 与信判定に問題あり。貸し出し不可。リーズンコードの確認は必要なく、貸し出し不可と判断できます。

    ### リーズンコードの基準
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個未満であれば含まれる場合は、返済履歴には問題がありません。貸し出し可否の判断は担当者が実施します。

## Pipeline テスト

In [ ]:
# Predictive AI Pipeline
scoring_data = get_and_transform_scoringdata(99)
response = mlops_scoring(scoring_data)
pred_prob, df_contrib = scoring_results(response)
print(pred_prob)
display(df_contrib)

# Generative AI Pipeline
Message = prompt_message(pred_prob, list(df_contrib[df_contrib['contributions']>0]['features']))
print('---------- Prompt Message ----------')
print(Message)

print('---------- LLM Reply ----------')
with client.connect(chat_session_id) as session:
    reply = session.query(
        message = Message,
        system_prompt=SysPrompt,
        llm=LlmModel,
        rag_config={"rag_type": "llm_only",},
    )
    print(reply.content)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
99,27193,250000,F,graduate school,single,32,3,2,2,2,...,2500,2500,2500,2500,0,0,0,0,0,0

0.8654990282290629

     features  contributions
0   EDUCATION       0.112727
1    MARRIAGE       0.116250
2         AGE       0.054994
3       PAY_1       0.749917
4       PAY_2       0.363291
5       PAY_3       0.205510
6       PAY_4       0.213456
7       PAY_5       0.342138
8       PAY_6       0.087690
9   BILL_AMT1       0.073374
10  BILL_AMT2       0.273849
11  BILL_AMT3       0.024653
12  BILL_AMT4      -0.011006
13  BILL_AMT5       0.010083
14  BILL_AMT6      -0.017817
15   PAY_AMT1       0.131662
16   PAY_AMT2       0.106724
17   PAY_AMT3       0.116739
18   PAY_AMT4       0.074653
19   PAY_AMT5       0.078435
20   PAY_AMT6       0.084181
21       bias      -1.329769

---------- Prompt Message ----------

    予測モデルの予測結果: 0.8654990282290629
    予測モデルの予測結果を、以下の与信判断の目安の目安に従って、与信可否の判定をして下さい。
    予測モデルの予測結果で与信判断がされた場合、リーズンコードに関して述べる必要はありません。

    リーズンコードの結果:['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT5', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
    与信可否の判定において、リーズンコードの確認が必要な場合は、リーズンコードの結果に従い、以下のリーズンコードの基準に理由を述べて下さい。

    ### 与信判断の目安
    予測精度が0.3以下: 与信判定に問題なし。貸し出し可能。リーズンコードの確認は必要なく、貸し出し可能と判断できます。
    予測精度が0.3から0.7の間: 与信判定に問題ありの可能性。リーズンコードの確認が必要。
    予測精度が0.7以上: 与信判定に問題あり。貸し出し不可。リーズンコードの確認は必要なく、貸し出し不可と判断できます。

    ### リーズンコードの基準
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個未満であれば含まれる場合は、返済履歴には問題がありません。貸し出し可否の判断は担当者が実施します。


---------- LLM Reply ----------

In [98]:
# Predictive AI Pipeline
scoring_data = get_and_transform_scoringdata(60)
response = mlops_scoring(scoring_data)
pred_prob, df_contrib = scoring_results(response)
print(pred_prob)
display(df_contrib)

# Generative AI Pipeline
Message = prompt_message(pred_prob, list(df_contrib[df_contrib['contributions']>0]['features']))
print('---------- Prompt Message ----------')
print(Message)

print('---------- LLM Reply ----------')
with client.connect(chat_session_id) as session:
    reply = session.query(
        message = Message,
        system_prompt=SysPrompt,
        llm=LlmModel,
        rag_config={"rag_type": "llm_only",},
    )
    print(reply.content)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
60,25374,80000,M,university,married,27,1,2,2,2,...,3740,2000,0,2096,0,2191,0,0,2096,0

0.5320463493595486

     features  contributions
0   EDUCATION       0.090256
1    MARRIAGE       0.083791
2         AGE       0.009946
3       PAY_1       0.073925
4       PAY_2       0.262185
5       PAY_3       0.163841
6       PAY_4       0.177951
7       PAY_5       0.300048
8       PAY_6      -0.014097
9   BILL_AMT1       0.054483
10  BILL_AMT2      -0.009759
11  BILL_AMT3       0.012646
12  BILL_AMT4      -0.016988
13  BILL_AMT5      -0.020375
14  BILL_AMT6      -0.031888
15   PAY_AMT1       0.124535
16   PAY_AMT2      -0.024581
17   PAY_AMT3       0.110300
18   PAY_AMT4       0.065010
19   PAY_AMT5      -0.032252
20   PAY_AMT6       0.079153
21       bias      -1.329769

---------- Prompt Message ----------

    予測モデルの予測結果: 0.5320463493595486
    予測モデルの予測結果を、以下の与信判断の目安の目安に従って、与信可否の判定をして下さい。

    リーズンコードの結果:['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'BILL_AMT1', 'BILL_AMT3', 'PAY_AMT1', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT6']
    与信可否の判定において、リーズンコードの確認が必要な場合は、リーズンコードの結果に従い、以下のリーズンコードの基準に理由を述べて下さい。

    ### 与信判断の目安
    予測精度が0.3以下: 与信判定に問題なし。貸し出し可能。リーズンコードの確認は必要なく、貸し出し可能と判断できます。
    予測精度が0.3から0.7の間: 与信判定に問題ありの可能性。リーズンコードの確認が必要。
    予測精度が0.7以上: 与信判定に問題あり。貸し出し不可。リーズンコードの確認は必要なく、貸し出し不可と判断できます。

    ### リーズンコードの基準
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個未満であれば含まれる場合は、返済履歴には問題がありません。貸し出し可否の判断は担当者が実施します。


---------- LLM Reply ----------
予測モデルの予測結果は0.5320463493595486です。これは予測精度が0.3から0.7の間にあるため、与信判定に問題がある可能性があります。リーズンコードの確認が必要です。

リーズンコードの結果は['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'BILL_AMT1', 'BILL_AMT3', 'PAY_AMT1', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT6']です。

リーズンコードの基準によると、PAY_、BILL_AMT、PAY_AMTの結果には10個以上の文字が含まれていません。したがって、返済履歴には問題がないと判断できます。

これらの情報を踏まえて、リーズンコードの結果に基づいて与信可否の判定を行います。リーズンコードの結果に問題がないと判断したため、担当者が貸し出し可否の最終判断を下す必要があります。

In [99]:
# Predictive AI Pipeline
scoring_data = get_and_transform_scoringdata(50)
response = mlops_scoring(scoring_data)
pred_prob, df_contrib = scoring_results(response)
print(pred_prob)
display(df_contrib)

# Generative AI Pipeline
Message = prompt_message(pred_prob, list(df_contrib[df_contrib['contributions']>0]['features']))
print('---------- Prompt Message ----------')
print(Message)

print('---------- LLM Reply ----------')
with client.connect(chat_session_id) as session:
    reply = session.query(
        message = Message,
        system_prompt=SysPrompt,
        llm=LlmModel,
        rag_config={"rag_type": "llm_only",},
    )
    print(reply.content)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
50,11283,50000,F,high school,married,47,1,2,0,0,...,48951,17744,36230,37128,0,2600,635,657,750,501

0.39573707868630514

     features  contributions
0   EDUCATION       0.064668
1    MARRIAGE       0.061903
2         AGE       0.048164
3       PAY_1       0.090953
4       PAY_2       0.244499
5       PAY_3       0.031224
6       PAY_4       0.052407
7       PAY_5       0.040309
8       PAY_6      -0.021355
9   BILL_AMT1      -0.048680
10  BILL_AMT2       0.024691
11  BILL_AMT3       0.023734
12  BILL_AMT4       0.029546
13  BILL_AMT5       0.001898
14  BILL_AMT6       0.032631
15   PAY_AMT1       0.156462
16   PAY_AMT2      -0.010194
17   PAY_AMT3       0.032990
18   PAY_AMT4       0.001234
19   PAY_AMT5      -0.001309
20   PAY_AMT6       0.050733
21       bias      -1.329769

---------- Prompt Message ----------

    予測モデルの予測結果: 0.39573707868630514
    予測モデルの予測結果を、以下の与信判断の目安の目安に従って、与信可否の判定をして下さい。

    リーズンコードの結果:['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT6']
    与信可否の判定において、リーズンコードの確認が必要な場合は、リーズンコードの結果に従い、以下のリーズンコードの基準に理由を述べて下さい。

    ### 与信判断の目安
    予測精度が0.3以下: 与信判定に問題なし。貸し出し可能。リーズンコードの確認は必要なく、貸し出し可能と判断できます。
    予測精度が0.3から0.7の間: 与信判定に問題ありの可能性。リーズンコードの確認が必要。
    予測精度が0.7以上: 与信判定に問題あり。貸し出し不可。リーズンコードの確認は必要なく、貸し出し不可と判断できます。

    ### リーズンコードの基準
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個未満であれば含まれる場合は、返済履歴には問題がありません。貸し出し可否の判断は担当者が実施します。


---------- LLM Reply ----------
予測モデルの予測結果は0.39573707868630514です。この予測精度は0.3から0.7の間にあるため、与信判定に問題がある可能性があります。リーズンコードの確認が必要です。

リーズンコードの結果は以下の通りです:
['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT6']

リーズンコードの基準に従って、リーズンコードの結果を確認します。

リーズンコードの結果には、PAY_、BILL_AMT、PAY_AMTが含まれています。これらのコードが10個以上含まれているかどうかを確認します。

リーズンコードの結果には、PAY_1, PAY_2, PAY_3, PAY_4, PAY_5, PAY_AMT1, PAY_AMT3, PAY_AMT4, PAY_AMT6が含まれています。これらのコードは10個以上含まれているため、過去の返済履歴に問題があり、貸し出し不可となります。

したがって、与信可否の判定は貸し出し不可となります。

In [100]:
# Predictive AI Pipeline
scoring_data = get_and_transform_scoringdata(45)
response = mlops_scoring(scoring_data)
pred_prob, df_contrib = scoring_results(response)
print(pred_prob)
display(df_contrib)

# Generative AI Pipeline
Message = prompt_message(pred_prob, list(df_contrib[df_contrib['contributions']>0]['features']))
print('---------- Prompt Message ----------')
print(Message)

print('---------- LLM Reply ----------')
with client.connect(chat_session_id) as session:
    reply = session.query(
        message = Message,
        system_prompt=SysPrompt,
        llm=LlmModel,
        rag_config={"rag_type": "llm_only",},
    )
    print(reply.content)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
45,3212,40000,M,high school,married,49,1,-2,-2,-2,...,0,0,0,150,0,0,0,0,150,159

0.3451506933114974

     features  contributions
0   EDUCATION       0.050054
1    MARRIAGE       0.041385
2         AGE       0.074986
3       PAY_1       0.047366
4       PAY_2      -0.017320
5       PAY_3      -0.045883
6       PAY_4       0.014571
7       PAY_5       0.003081
8       PAY_6      -0.007270
9   BILL_AMT1       0.115161
10  BILL_AMT2      -0.025329
11  BILL_AMT3      -0.083534
12  BILL_AMT4      -0.041601
13  BILL_AMT5       0.012534
14  BILL_AMT6      -0.031896
15   PAY_AMT1       0.136127
16   PAY_AMT2       0.116522
17   PAY_AMT3       0.114979
18   PAY_AMT4       0.096793
19   PAY_AMT5       0.042079
20   PAY_AMT6       0.076538
21       bias      -1.329769

---------- Prompt Message ----------

    予測モデルの予測結果: 0.3451506933114974
    予測モデルの予測結果を、以下の与信判断の目安の目安に従って、与信可否の判定をして下さい。

    リーズンコードの結果:['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_4', 'PAY_5', 'BILL_AMT1', 'BILL_AMT5', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
    与信可否の判定において、リーズンコードの確認が必要な場合は、リーズンコードの結果に従い、以下のリーズンコードの基準に理由を述べて下さい。

    ### 与信判断の目安
    予測精度が0.3以下: 与信判定に問題なし。貸し出し可能。リーズンコードの確認は必要なく、貸し出し可能と判断できます。
    予測精度が0.3から0.7の間: 与信判定に問題ありの可能性。リーズンコードの確認が必要。
    予測精度が0.7以上: 与信判定に問題あり。貸し出し不可。リーズンコードの確認は必要なく、貸し出し不可と判断できます。

    ### リーズンコードの基準
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個未満であれば含まれる場合は、返済履歴には問題がありません。貸し出し可否の判断は担当者が実施します。


---------- LLM Reply ----------
予測モデルの予測結果は0.3451506933114974です。これは与信判断の目安に従って、予測精度が0.3から0.7の間であるため、与信判定に問題ありの可能性があります。リーズンコードの確認が必要です。

リーズンコードの結果は['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_4', 'PAY_5', 'BILL_AMT1', 'BILL_AMT5', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']です。

リーズンコードの基準に従って、PAY_、 BILL_AMT、PAY_AMT が10個以上含まれる場合は、過去の返済履歴に問題があり、貸し出し不可となります。この場合、リーズンコードの結果にはPAY_1, PAY_4, PAY_5, BILL_AMT1, BILL_AMT5, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6が含まれています。これは11個であり、10個以上含まれているため、過去の返済履歴に問題があり、貸し出し不可となります。

したがって、与信判定に問題ありの可能性があり、リーズンコードの確認が必要です。リーズンコードの結果に基づいて、過去の返済履歴に問題があり、貸し出し不可と判断されます。

In [101]:
# Predictive AI Pipeline
scoring_data = get_and_transform_scoringdata(44)
response = mlops_scoring(scoring_data)
pred_prob, df_contrib = scoring_results(response)
print(pred_prob)
display(df_contrib)

# Generative AI Pipeline
Message = prompt_message(pred_prob, list(df_contrib[df_contrib['contributions']>0]['features']))
print('---------- Prompt Message ----------')
print(Message)

print('---------- LLM Reply ----------')
with client.connect(chat_session_id) as session:
    reply = session.query(
        message = Message,
        system_prompt=SysPrompt,
        llm=LlmModel,
        rag_config={"rag_type": "llm_only",},
    )
    print(reply.content)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
44,9590,170000,M,graduate school,single,30,1,-2,-1,-1,...,550,0,0,0,0,550,0,0,0,0

0.30475708232190407

     features  contributions
0   EDUCATION       0.019752
1    MARRIAGE       0.028380
2         AGE      -0.020637
3       PAY_1       0.037790
4       PAY_2      -0.027147
5       PAY_3      -0.036489
6       PAY_4      -0.011826
7       PAY_5      -0.016794
8       PAY_6      -0.010828
9   BILL_AMT1       0.088442
10  BILL_AMT2      -0.036769
11  BILL_AMT3      -0.061882
12  BILL_AMT4      -0.040442
13  BILL_AMT5       0.007980
14  BILL_AMT6      -0.037274
15   PAY_AMT1       0.144887
16   PAY_AMT2       0.087701
17   PAY_AMT3       0.122245
18   PAY_AMT4       0.097598
19   PAY_AMT5       0.081289
20   PAY_AMT6       0.089045
21       bias      -1.329769

---------- Prompt Message ----------

    予測モデルの予測結果: 0.30475708232190407
    予測モデルの予測結果を、以下の与信判断の目安の目安に従って、与信可否の判定をして下さい。

    リーズンコードの結果:['EDUCATION', 'MARRIAGE', 'PAY_1', 'BILL_AMT1', 'BILL_AMT5', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
    与信可否の判定において、リーズンコードの確認が必要な場合は、リーズンコードの結果に従い、以下のリーズンコードの基準に理由を述べて下さい。

    ### 与信判断の目安
    予測精度が0.3以下: 与信判定に問題なし。貸し出し可能。リーズンコードの確認は必要なく、貸し出し可能と判断できます。
    予測精度が0.3から0.7の間: 与信判定に問題ありの可能性。リーズンコードの確認が必要。
    予測精度が0.7以上: 与信判定に問題あり。貸し出し不可。リーズンコードの確認は必要なく、貸し出し不可と判断できます。

    ### リーズンコードの基準
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個未満であれば含まれる場合は、返済履歴には問題がありません。貸し出し可否の判断は担当者が実施します。


---------- LLM Reply ----------
予測モデルの予測結果は0.30475708232190407です。与信判断の目安に従って、この予測精度は0.3以下であるため、与信判定に問題なしと判断できます。リーズンコードの確認は必要ありません。

ただし、リーズンコードの結果を確認する必要がある場合は、リーズンコードの結果に従い、以下の基準に従って判断します。

リーズンコードの結果:['EDUCATION', 'MARRIAGE', 'PAY_1', 'BILL_AMT1', 'BILL_AMT5', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

リーズンコードの基準によると、PAY_、BILL_AMT、PAY_AMT が 10 個以上含まれる場合は、過去の返済履歴に問題があり、貸し出し不可となります。この場合、リーズンコードの結果には PAY_1, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6 が含まれています。これらは合計で 7 つあり、10 個未満です。したがって、返済履歴には問題がありません。

結論として、予測モデルの予測結果とリーズンコードの結果を総合的に考慮すると、与信可能と判断できます。

In [102]:
# Predictive AI Pipeline
scoring_data = get_and_transform_scoringdata(40)
response = mlops_scoring(scoring_data)
pred_prob, df_contrib = scoring_results(response)
print(pred_prob)
display(df_contrib)

# Generative AI Pipeline
Message = prompt_message(pred_prob, list(df_contrib[df_contrib['contributions']>0]['features']))
print('---------- Prompt Message ----------')
print(Message)

print('---------- LLM Reply ----------')
with client.connect(chat_session_id) as session:
    reply = session.query(
        message = Message,
        system_prompt=SysPrompt,
        llm=LlmModel,
        rag_config={"rag_type": "llm_only",},
    )
    print(reply.content)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
40,9856,170000,F,graduate school,married,44,1,2,0,0,...,68387,51511,33939,34330,2000,2000,3057,2000,5000,2000

0.27858953418698346

     features  contributions
0   EDUCATION       0.036052
1    MARRIAGE       0.045439
2         AGE       0.002618
3       PAY_1       0.053780
4       PAY_2       0.236378
5       PAY_3      -0.003551
6       PAY_4       0.034096
7       PAY_5       0.020483
8       PAY_6      -0.020588
9   BILL_AMT1      -0.044852
10  BILL_AMT2       0.034182
11  BILL_AMT3       0.048330
12  BILL_AMT4       0.028726
13  BILL_AMT5      -0.001059
14  BILL_AMT6       0.031843
15   PAY_AMT1       0.026074
16   PAY_AMT2      -0.000780
17   PAY_AMT3      -0.030985
18   PAY_AMT4      -0.034158
19   PAY_AMT5      -0.060422
20   PAY_AMT6      -0.023307
21       bias      -1.329769

---------- Prompt Message ----------

    予測モデルの予測結果: 0.27858953418698346
    予測モデルの予測結果を、以下の与信判断の目安の目安に従って、与信可否の判定をして下さい。

    リーズンコードの結果:['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2', 'PAY_4', 'PAY_5', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT6', 'PAY_AMT1']
    与信可否の判定において、リーズンコードの確認が必要な場合は、リーズンコードの結果に従い、以下のリーズンコードの基準に理由を述べて下さい。

    ### 与信判断の目安
    予測精度が0.3以下: 与信判定に問題なし。貸し出し可能。リーズンコードの確認は必要なく、貸し出し可能と判断できます。
    予測精度が0.3から0.7の間: 与信判定に問題ありの可能性。リーズンコードの確認が必要。
    予測精度が0.7以上: 与信判定に問題あり。貸し出し不可。リーズンコードの確認は必要なく、貸し出し不可と判断できます。

    ### リーズンコードの基準
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。
    PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個未満であれば含まれる場合は、返済履歴には問題がありません。貸し出し可否の判断は担当者が実施します。


---------- LLM Reply ----------
予測モデルの予測結果は0.27858953418698346で、与信判断の目安に従って与信可否の判定を行います。

予測精度が0.3以下であるため、与信判定に問題なしと判断できます。リーズンコードの確認は必要ありません。

ただし、リーズンコードの結果を確認してみます。リーズンコードの結果は['EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2', 'PAY_4', 'PAY_5', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT6', 'PAY_AMT1']です。

リーズンコードの基準によると、PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれる場合は、過去の返済履歴に問題ありとなり、貸し出し不可となります。

リーズンコードの結果を確認すると、PAY_., BILL_AMT., PAY_AMT. (.は任意の1文字) が10個以上含まれていることがわかります。したがって、過去の返済履歴に問題があり、貸し出し不可と判断できます。

結論として、予測モデルの予測結果は与信可否の判定に問題がないと判断できますが、リーズンコードの確認により、過去の返済履歴に問題があるため、貸し出し不可と判断されます。